<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- we can put this here in the header to apply all bean and delete from 
		the bean attribute. default-init-method="myInit" default-destroy-method="myDestroy" -->

	<bean id="messageBean" class="propertyPlaceHolder.Message">
		<property name="Message" value="${myMessage}" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:spring.properties</value>
		</property>
	</bean>
</beans>

